body {
    background-color: purple;
}

h1 {
    margin: 5%;
    text-align: center;
    color: plum;
}

h2 {
    color: purple;
}

table,
th,
td {
  border: solid 2px pink;
  color: purple;
}

label {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

input,
textarea {
    width: 70%;

}

#tableContainer {
    display: inline;
    float: left;
    border: solid 2px pink;
    width: 40%;
    padding: 1%;
    margin-left: 5%;
    background-color: plum;
}

#formContainer {
    display: inline;
    float: right;
    border: solid 2px pink;
    width: 40%;
    padding: 1%;
    margin-right: 5%;
    background-color: plum;

}

#submitFeedback {
    width: 30%;
    background-color: purple;
    float: right;
    color: plum;
}