body {
    background-color: #7d1e85;
}

.head-title {
  color: #fff ;
  text-align: center;
  margin-top: 5%;
  opacity: .8;
}

.card {
  background-color: #ffffff50;
}


.container {
  padding: 2px 16px;
}



.half-screen {
  width: 50%;
}

.card-title {
  color: #7d1e85;
  margin: 10px;
}

.item1 {
  grid-row: 1;
}

.grid {
  display: grid;
}

.screen-90 {
  width: 90%;
}
.center {
  margin: auto;
  width: 85%;
  padding: 10px;
}

.mar {
    margin-top: 0;
}


table, th, td {
    border: solid 0.1px #f1bfcd;
    color: #7d1e85;
}

.text-center {

    text-align: center;
    font-weight: 800;
    
}

input {
    width: 70%;
    margin: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}
textarea {
    margin: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    width: 70%;
}
label {
    margin-right: 40px;
}